<launch>
  <!-- Launch ORB_SLAM2 -->
  <node name="ORB_SLAM2" pkg="ORB_SLAM2" type="Mono" args="$(find ORB_SLAM2)/../../../Vocabulary/ORBvoc.txt $(find ORB_SLAM2)/GOPRO_C3161326827938_720_SUPR.yaml" />
  <!--node name="image_view" pkg="image_view" type="image_view" respawn="false" output="screen">
    <remap from="image" to="/camera/image_raw"/>
    <param name="autosize" value="true" />
  </node-->
</launch>
